<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user stories</title>
</head>
<script>
$("a").click(function(event) {
  event.preventDefault();
//Do your logic here
});
</script>
<body>
<form action="/story" method="POST">
<h1>Add User Story</h1>
<p>Story Title:</p>
<input pattern=".{5,10000}" name="story_title" value="">
<p>User Story:</p>
<textarea rows="4" cols="20" name="user_story"></textarea>
<p>Acceptance criteria:</p>
<textarea rows="4" cols="20" name="acceptance_criteria"></textarea>
<p>Business Value:</p>
<input name="bussiness_value" type="number" size="5" min="100" max="1500" step="100" >
<p>Estimation:</p>
<input name="estimation" type="number" size="5" min="0.5" max="40" step="0.5">




<p><input type="submit" value="Add new User Story "></p>
</form>
</body>
</html>